.header {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    padding: 20px;
    font-size: 1.2rem;
}

.backButton {
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;
}


