.main {
	width: 100%;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}

.content {
	width: 100%;
	height: calc(100vh - 80px);

	display: flex;
}

.side {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.createButton {
	appearance: none;
	outline: none;
	border: none;

	background-color: white;
	color: rgb(var(--accent));

	display: flex;
	gap: 10px;
	align-items: center;

	width: fit-content;

	padding: 20px;
	border-radius: 20px;

	font-size: 1rem;

	cursor: pointer;
	transition: ease-in-out 100ms;
}

.createButton:hover {
	box-shadow: 0 5px 10px rgb(141, 98, 134, 0.2);
}

.pageWrapper {
	flex: 1;
	height: 100%;
	overflow: auto;

	background: white;
	border-top-left-radius: 20px;
}

.page {
	width: 100%;
	padding: 30px;

	display: flex;
	flex-direction: column;
	gap: 20px;
}

.labels {
	display: flex;
	flex-direction: column;

	color: rgb(var(--accent));
}

.bigLabel {
	font-size: 4rem;
	font-weight: 800;
}

.motto {
	font-size: 1.5rem;
}

.projectList {
   border-collapse: collapse;
   border-radius: 10px;

   overflow: hidden;
}

.projectList thead {
	background-color: rgb(var(--secondary-2));
}

.projectList thead th {
   padding: 20px;
   text-align: left;

   font-weight: 500;
}

.projectList thead th:nth-of-type(1) {
   width: 20px;
}

.projectList thead th:nth-last-of-type(1) {
   width: 30px;
}

.projectList thead th:nth-last-of-type(2) {
   width: 300px;
}

.projectList tbody tr {
   border-bottom: solid 1px #ddd;
}

.projectList tbody tr:hover {
   background-color: #fafafa;
}

.projectList td {
   padding: 20px;
   font-weight: 400;

   user-select: none;
}

.projectList td button {
   appearance: none;
   background: none;
   border: none;
   outline: none;

   border-radius: 50%;
   padding: 10px;
}

.projectList td button:hover {
   background-color: #ddd;
}

