:root {
    --background: 247, 243, 246;
    --primary: 117, 82, 111;
    --secondary: 228, 216, 226;
    --accent: 141, 98, 134;
    --text: 21, 15, 20;
    --app: 255, 255, 255;

    --corner-radius: 20px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    position: absolute;
    width: 100vw;
    height: 100vh;

    background-color: rgb(var(--background));
    color: rgb(var(--text));
}

a {
    color: inherit;
    text-decoration: none;
}

/*Scrollbar*/

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    /* margin-top: 25px;
    margin-bottom: 25px; */
    visibility: 0;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}
