@import "https://rsms.me/inter/inter.css";
/* @import "https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap"; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* styles/color.css */
:root {
  --puck-color-neutral-0: #fafafa;
  --puck-color-neutral-1: #f3f3f3;
  --puck-color-neutral-2: #e7e5e5;
  --puck-color-neutral-3: #9e9e9e;
  --puck-color-neutral-4: #2d2d2d;
  --puck-color-neutral-blue: #10131c;
  --puck-color-blue: var(--puck-color-azure-3);
  --puck-color-rose: var(--puck-color-rose-3);
  --puck-color-red: var(--puck-color-red-3);
  --puck-color-rose-0: #4a001c;
  --puck-color-rose-1: #670833;
  --puck-color-rose-2: #87114c;
  --puck-color-rose-3: #a81a66;
  --puck-color-rose-4: #bc5089;
  --puck-color-rose-5: #cc7ca5;
  --puck-color-rose-6: #d89aba;
  --puck-color-rose-7: #e3b8cf;
  --puck-color-rose-8: #efd6e3;
  --puck-color-rose-9: #faf4f8;
  --puck-color-azure-0: #00175d;
  --puck-color-azure-1: #002c77;
  --puck-color-azure-2: #014292;
  --puck-color-azure-3: #0158ad;
  --puck-color-azure-4: #3479be;
  --puck-color-azure-5: #6499cf;
  --puck-color-azure-6: #88b0da;
  --puck-color-azure-7: #abc7e5;
  --puck-color-azure-8: #cfdff0;
  --puck-color-azure-85: #e1eaf6;
  --puck-color-azure-9: #f3f6fb;
  --puck-color-green-0: #002000;
  --puck-color-green-1: #043604;
  --puck-color-green-2: #084e08;
  --puck-color-green-3: #0c680c;
  --puck-color-green-4: #1d882f;
  --puck-color-green-5: #2faa53;
  --puck-color-green-6: #56c16f;
  --puck-color-green-7: #7dd78b;
  --puck-color-green-8: #b8e8bf;
  --puck-color-green-9: #eff8f0;
  --puck-color-yellow-0: #211000;
  --puck-color-yellow-1: #362700;
  --puck-color-yellow-2: #4c4000;
  --puck-color-yellow-3: #645a00;
  --puck-color-yellow-4: #877614;
  --puck-color-yellow-5: #ab9429;
  --puck-color-yellow-6: #bfac4e;
  --puck-color-yellow-7: #d4c474;
  --puck-color-yellow-8: #e6deb1;
  --puck-color-yellow-9: #f9f7ed;
  --puck-color-red-0: #4c0000;
  --puck-color-red-1: #6a0a10;
  --puck-color-red-2: #8a1422;
  --puck-color-red-3: #ac1f35;
  --puck-color-red-4: #bf5366;
  --puck-color-red-5: #ce7e8e;
  --puck-color-red-6: #d99ca8;
  --puck-color-red-7: #e4b9c2;
  --puck-color-red-8: #efd7db;
  --puck-color-red-9: #faf4f5;
  --puck-color-grey-0: #111111;
  --puck-color-grey-1: #282828;
  --puck-color-grey-2: #404040;
  --puck-color-grey-3: #5a5a5a;
  --puck-color-grey-4: #767676;
  --puck-color-grey-5: #949494;
  --puck-color-grey-6: #ababab;
  --puck-color-grey-7: #c3c3c3;
  --puck-color-grey-8: #dcdcdc;
  --puck-color-grey-9: #efefef;
  --puck-color-grey-10: #f5f5f5;
  --puck-color-grey-11: #fafafa;
  --puck-color-black: #000000;
  --puck-color-white: #ffffff;
  --puck-primary-1:
    247,
    243,
    246;
  --puck-primary-2:
    241,
    233,
    240;
  --puck-primary-3:
    225,
    208,
    221;
  --puck-primary-4:
    215,
    193,
    210;
  --puck-primary-5:
    205,
    177,
    199;
  --puck-primary-6:
    195,
    162,
    188;
  --puck-primary-7:
    185,
    146,
    177;
  --puck-secondary:
    228,
    216,
    226;
  --puck-accent:
    141,
    98,
    134;
}

/* styles/typography.css */
:root {
  --puck-font-size-scale-base-unitless: 12;
  --puck-font-size-xxxs-unitless: 12;
  --puck-font-size-xxs-unitless: 14;
  --puck-font-size-xs-unitless: 16;
  --puck-font-size-s-unitless: 18;
  --puck-font-size-m-unitless: 21;
  --puck-font-size-l-unitless: 24;
  --puck-font-size-xl-unitless: 28;
  --puck-font-size-xxl-unitless: 36;
  --puck-font-size-xxxl-unitless: 48;
  --puck-font-size-xxxxl-unitless: 56;
  --puck-font-size-xxxs: calc(1rem * var(--puck-font-size-xxxs-unitless) / 16);
  --puck-font-size-xxs: calc(1rem * var(--puck-font-size-xxs-unitless) / 16);
  --puck-font-size-xs: calc(1rem * var(--puck-font-size-xs-unitless) / 16);
  --puck-font-size-s: calc(1rem * var(--puck-font-size-s-unitless) / 16);
  --puck-font-size-m: calc(1rem * var(--puck-font-size-m-unitless) / 16);
  --puck-font-size-l: calc(1rem * var(--puck-font-size-l-unitless) / 16);
  --puck-font-size-xl: calc(1rem * var(--puck-font-size-xl-unitless) / 16);
  --puck-font-size-xxl: calc(1rem * var(--puck-font-size-xxl-unitless) / 16);
  --puck-font-size-xxxl: calc(1rem * var(--puck-font-size-xxxl-unitless) / 16);
  --puck-font-size-xxxxl: calc( 1rem * var(--puck-font-size-xxxxl-unitless) / 16 );
  --puck-font-size-base: var(--puck-font-size-xs);
  --line-height-reset: 1;
  --line-height-xs: calc( var(--space-m-unitless) / var(--puck-font-size-m-unitless) );
  --line-height-s: calc( var(--space-m-unitless) / var(--puck-font-size-s-unitless) );
  --line-height-m: calc( var(--space-m-unitless) / var(--puck-font-size-xs-unitless) );
  --line-height-l: calc( var(--space-m-unitless) / var(--puck-font-size-xxs-unitless) );
  --line-height-xl: calc( var(--space-m-unitless) / var(--puck-font-size-scale-base-unitless) );
  --line-height-base: var(--line-height-m);
  --puck-font-stack:
    Gabarito,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica Neue,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
  --puck-font-stack-variable:
    Gabarito,
    "Inter var",
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica Neue,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
  --puck-font-family-monospaced:
    "Menlo",
    "Monaco",
    "Liberation Mono",
    "Consolas",
    "Courier New",
    monospace;
  --puck-font-family-proportional: var(--puck-font-stack), sans-serif;
}

/* styles/global.css */

/* css-module:E:Projectslow-code-puckpackagescorecomponentsButtonButton.module.css\#css-module-data */
._Button_h7b1j_1 {
  appearance: none;
  background: none;
  border: none;
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  letter-spacing: 0.05ch;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  margin: 0;
}
._Button--medium_h7b1j_39 {
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
}
._Button--large_h7b1j_53 {
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
}
._Button-icon_h7b1j_67 {
  margin-top: 2px;
}
._Button_h7b1j_1:hover {
  text-decoration: none;
}
._Button--primary_h7b1j_83 {
  background: var(--puck-color-blue);
}
._Button--primary_h7b1j_83:hover {
  opacity: 0.7;
  transition: opacity 50ms ease-in;
}
._Button--secondary_h7b1j_101 {
  color: currentColor;
  border: 1px solid currentColor;
}
._Button--secondary_h7b1j_101:hover {
  background-color: var(--puck-color-grey-10);
  color: black;
  opacity: 0.7;
}
._Button--flush_h7b1j_123 {
  border-radius: 0;
}
._Button--disabled_h7b1j_131 {
  background: var(--puck-color-grey-10);
  color: black;
  cursor: not-allowed;
}
._Button--disabled_h7b1j_131:hover {
  opacity: 1;
}
._Button--fullWidth_h7b1j_151 {
  width: 100%;
}

/* css-module:E:Projectslow-code-puckpackagescorecomponentsDraggableComponentstyles.module.css\#css-module-data */
._DraggableComponent_1g4tn_1 {
  position: relative;
  pointer-events: auto;
}
._DraggableComponent--isDragging_1g4tn_11 {
  background: #abc7e510;
  outline: 2px var(--puck-color-azure-8) solid;
  overflow: hidden;
}
._DraggableComponent-contents_1g4tn_23 {
  position: relative;
  pointer-events: none;
}
._DraggableComponent-contents_1g4tn_23::before,
._DraggableComponent-contents_1g4tn_23::after {
  content: " ";
  display: table;
}
._DraggableComponent-overlay_1g4tn_47 {
  display: none;
  background: #abc7e530;
  outline: 2px var(--puck-color-azure-8) solid;
  cursor: pointer;
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 1;
  font-family: var(--puck-font-stack);
  pointer-events: none;
  box-sizing: border-box;
}
._DraggableComponent_1g4tn_1:hover:not(._DraggableComponent--isLocked_1g4tn_77) > ._DraggableComponent-overlay_1g4tn_47 {
  display: block;
  pointer-events: none;
}
._DraggableComponent--forceHover_1g4tn_89 > ._DraggableComponent-overlay_1g4tn_47 {
  display: block;
  pointer-events: none;
}
._DraggableComponent--indicativeHover_1g4tn_99 > ._DraggableComponent-overlay_1g4tn_47 {
  display: block;
  background: transparent;
  pointer-events: none;
}
._DraggableComponent_1g4tn_1:not(._DraggableComponent--isSelected_1g4tn_113):has(._DraggableComponent_1g4tn_1:hover > ._DraggableComponent-overlay_1g4tn_47) > ._DraggableComponent-overlay_1g4tn_47 {
  display: none;
}
._DraggableComponent--isSelected_1g4tn_113 > ._DraggableComponent-overlay_1g4tn_47 {
  background: none;
  display: block;
  outline: 2px var(--puck-color-azure-6) solid;
}
._DraggableComponent-actions_1g4tn_139 {
  position: absolute;
  right: 6.5px;
  width: auto;
  top: -48px;
  padding: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-radius: 8px;
  background: var(--puck-color-grey-0);
  color: white;
  display: none;
  gap: 4px;
  pointer-events: auto;
  box-sizing: border-box;
}
._DraggableComponent--isSelected_1g4tn_113 > ._DraggableComponent-overlay_1g4tn_47 > ._DraggableComponent-actions_1g4tn_139 {
  display: flex;
}
._DraggableComponent-actionsLabel_1g4tn_185 {
  color: var(--puck-color-grey-7);
  display: flex;
  font-size: var(--puck-font-size-xxxs);
  font-weight: 500;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 16px;
  margin-right: 8px;
  border-right: 1px solid var(--puck-color-grey-4);
  text-overflow: ellipsis;
  white-space: nowrap;
}
._DraggableComponent-action_1g4tn_139 {
  background: transparent;
  border: none;
  color: var(--puck-color-grey-7);
  padding: 6px 8px;
  border-radius: 4px;
  overflow: hidden;
}
._DraggableComponent-action_1g4tn_139:hover {
  background: var(--puck-color-grey-2);
  color: var(--puck-color-azure-5);
  cursor: pointer;
}

/* css-module:E:Projectslow-code-puckpackagescorecomponentsDropZonestyles.module.css\#css-module-data */
._DropZone_1686o_1 {
  margin-left: auto;
  margin-right: auto;
  zoom: 1.33;
  position: relative;
  height: 100%;
  outline-offset: -1px;
  width: 100%;
}
._DropZone-content_1686o_21 {
  min-height: 128px;
  height: 100%;
}
._DropZone--userIsDragging_1686o_31 ._DropZone-content_1686o_21 {
  pointer-events: all;
}
._DropZone--userIsDragging_1686o_31:not(._DropZone--draggingOverArea_1686o_39):not(._DropZone--draggingNewComponent_1686o_41) > ._DropZone-content_1686o_21 {
  pointer-events: none;
}
._DropZone--isAreaSelected_1686o_53,
._DropZone--draggingOverArea_1686o_39:not(:has(._DropZone--hoveringOverArea_1686o_55)),
._DropZone--hoveringOverArea_1686o_55:not(._DropZone--isDisabled_1686o_57):not(._DropZone--isRootZone_1686o_59) {
  background: var(--puck-color-azure-9);
  outline: 2px dashed var(--puck-color-azure-7);
}
._DropZone_1686o_1:not(._DropZone--hasChildren_1686o_71) {
  background: var(--puck-color-azure-9);
  outline: 2px dashed var(--puck-color-azure-7);
}
._DropZone--isDestination_1686o_81 {
  outline: 2px dashed var(--puck-color-azure-3) !important;
}
._DropZone--isDestination_1686o_81:not(._DropZone--isRootZone_1686o_59) {
  background: var(--puck-color-azure-85) !important;
}
._DropZone-item_1686o_97 {
  position: relative;
}
._DropZone-item_1686o_97:has(._DropZone--draggingOverArea_1686o_39) {
  z-index: 1;
}
._DropZone-hitbox_1686o_113 {
  position: absolute;
  bottom: -12px;
  height: 24px;
  width: 100%;
  z-index: 1;
}

/* css-module:E:Projectslow-code-puckpackagescorecomponentsIconButtonIconButton.module.css\#css-module-data */
._IconButton_1uxuq_1 {
  background: transparent;
  border: none;
  color: var(--puck-color-grey-3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 4px;
}
._IconButton_1uxuq_1:hover {
  background: var(--puck-color-grey-9);
  color: var(--puck-color-blue);
  cursor: pointer;
}

/* css-module:E:Projectslow-code-puckpackagescorecomponentsExternalInputstyles.module.css\#css-module-data */
._ExternalInput_7defh_1 {
  font-family: var(--puck-font-stack);
}
._ExternalInput-actions_7defh_9 {
  display: flex;
}
._ExternalInput-button_7defh_17 {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid var(--puck-color-grey-8);
  border-radius: 4px;
  color: var(--puck-color-blue);
  padding: 12px 16px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}
._ExternalInput-button_7defh_17:hover,
._ExternalInput-detachButton_7defh_55:hover {
  cursor: pointer;
  background: var(--puck-color-grey-10);
  border-color: var(--puck-color-neutral-3);
  z-index: 1;
}
._ExternalInput--hasData_7defh_69 ._ExternalInput-button_7defh_17 {
  display: block;
  color: var(--puck-color-neutral-4);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
._ExternalInput-detachButton_7defh_55 {
  border: 1px solid var(--puck-color-grey-8);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--puck-color-neutral-1);
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  margin-left: -1px;
}
._ExternalInput-modal_7defh_109 {
  background: #00000099;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 64px;
}
._ExternalInput--modalVisible_7defh_137 ._ExternalInput-modal_7defh_109 {
  display: flex;
}
._ExternalInput-modalInner_7defh_145 {
  width: 100%;
  max-width: 1024px;
  border-radius: 16px;
  overflow: hidden;
  background: white;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}
._ExternalInput-modalHeading_7defh_167 {
  background-color: white;
  padding: 32px 24px;
}
._ExternalInput-modalTableWrapper_7defh_177 {
  overflow-x: scroll;
  overflow-y: scroll;
  flex-grow: 1;
}
._ExternalInput_7defh_1 table {
  border-spacing: 0px;
  color: var(--puck-color-neutral-4);
  position: relative;
}
._ExternalInput_7defh_1 thead {
  position: sticky;
  top: 0;
}
._ExternalInput_7defh_1 th {
  border-bottom: 1px solid var(--puck-color-grey-8);
  border-top: 1px solid var(--puck-color-grey-8);
  font-weight: 700;
  padding: 16px 24px;
  opacity: 0.9;
}
._ExternalInput_7defh_1 td {
  padding: 16px 24px;
}
._ExternalInput_7defh_1 tr:nth-of-type(n) {
  background-color: white;
}
._ExternalInput_7defh_1 tr:nth-of-type(2n) {
  background-color: var(--puck-color-grey-10);
}
._ExternalInput_7defh_1 tr td:first-of-type {
  font-weight: 500;
}
._ExternalInput_7defh_1 tbody tr:hover {
  background: var(--puck-color-grey-11);
  color: var(--puck-color-azure-4);
  cursor: pointer;
  position: relative;
  margin-left: -5px;
}
._ExternalInput_7defh_1 tbody tr:hover td:first-of-type {
  border-left: 4px solid var(--puck-color-azure-4);
  padding-left: 20px;
}

/* css-module:E:Projectslow-code-puckpackagescorecomponentsInputOrGroupstyles.module.css\#css-module-data */
._Input_1dddz_1 {
  color: var(--puck-color-grey-3);
  padding: 16px;
  padding-bottom: 12px;
  display: block;
  font-family: var(--puck-font-stack);
}
._Input_1dddz_1 ._Input_1dddz_1 {
  padding: 0px;
}
._Input_1dddz_1 * {
  box-sizing: border-box;
}
._Input_1dddz_1 + ._Input_1dddz_1 {
  border-top: 1px solid var(--puck-color-grey-8);
  margin-top: 8px;
}
._Input_1dddz_1 ._Input_1dddz_1 + ._Input_1dddz_1 {
  border-top: 0px;
  margin-top: 12px;
}
._Input-label_1dddz_53 {
  display: flex;
  padding-bottom: 12px;
  font-size: var(--puck-font-size-xxs);
  font-weight: 600;
}
._Input-labelIcon_1dddz_67 {
  color: var(--puck-color-grey-6);
  margin-right: 4px;
}
._Input-input_1dddz_77 {
  border-width: 1px;
  border-style: solid;
  border-color: var(--puck-color-grey-8);
  border-radius: 4px;
  font-family: inherit;
  padding: 12px 16px;
  width: 100%;
}
._Input_1dddz_1 select {
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23c3c3c3'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 12px) calc(50% + 3px);
  background-repeat: no-repeat;
  background-color: white;
}
._Input--readOnly_1dddz_119 ._Input-input_1dddz_77 {
  background-color: var(--puck-color-grey-10);
  border-color: var(--puck-color-grey-8);
}
._Input-input_1dddz_77:hover {
  border-color: var(--puck-color-neutral-3);
}
._Input-arrayItem_1dddz_137 {
  background: white;
  border: 1px solid var(--puck-color-grey-8);
  border-radius: 4px;
}
._Input-arrayItem_1dddz_137 > summary {
  color: var(--puck-color-grey-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--puck-font-size-xxs);
  list-style: none;
  padding: 12px 16px;
  position: relative;
}
._Input-arrayItem_1dddz_137 > summary:hover {
  cursor: pointer;
  color: var(--puck-color-blue);
}
._Input-arrayItem_1dddz_137 > summary::-webkit-details-marker {
  display: none;
}
._Input-arrayItem_1dddz_137 > ._Input-fieldset_1dddz_189 {
  background-color: var(--puck-color-grey-11);
  border: none;
  border-top: 1px solid var(--puck-color-grey-8);
  margin: 0;
  padding: 16px;
}
._Input-arrayItem_1dddz_137 > ._Input-fieldset_1dddz_189 ._Input_1dddz_1 + ._Input-arrayItem_1dddz_137 > ._Input-fieldset_1dddz_189 ._Input_1dddz_1 {
  margin-top: 16px;
}
._Input-arrayItem_1dddz_137 > ._Input-fieldset_1dddz_189 ._Input-label_1dddz_53 {
  padding-bottom: 4px;
}
._Input-arrayItem_1dddz_137 ._Input-arrayItemAction_1dddz_231 {
  border-radius: 4px;
  opacity: 0;
}
._Input-arrayItem_1dddz_137 summary:hover ._Input-arrayItemAction_1dddz_231 {
  opacity: 1;
}
._Input-arrayItem_1dddz_137 ._Input-arrayItemAction_1dddz_231:hover {
  background: var(--puck-color-grey-9);
  color: var(--puck-color-blue);
  cursor: pointer;
}
._Input-arrayItem_1dddz_137 + ._Input-arrayItem_1dddz_137 {
  margin-top: 12px;
}
._Input-addButton_1dddz_269 {
  background-color: white;
  border: none;
  border-radius: 4px;
  color: var(--puck-color-blue);
  cursor: pointer;
  width: 100%;
  margin: 0;
  margin-top: 12px;
  padding: 12px 16px;
  text-align: left;
}
._Input-addButton_1dddz_269:hover {
  background: var(--puck-color-grey-10);
}
._Input-array_1dddz_137 {
  overflow: hidden;
}
._Input-radioGroupItems_1dddz_311 {
  display: flex;
  border: 1px solid var(--puck-color-grey-7);
  border-radius: 4px;
  flex-wrap: wrap;
  overflow: hidden;
}
._Input-radio_1dddz_311 {
  border-right: 1px solid var(--puck-color-grey-7);
  flex-grow: 1;
}
._Input-radio_1dddz_311:last-of-type {
  border-right: none;
}
._Input-radioInner_1dddz_345 {
  color: var(--puck-color-grey-4);
  font-size: var(--puck-font-size-xxxs);
  padding: 8px 12px;
  text-align: center;
}
._Input-radioInner_1dddz_345:hover {
  background-color: var(--puck-color-azure-9);
  cursor: pointer;
}
._Input-radio_1dddz_311 ._Input-radioInput_1dddz_369:checked ~ ._Input-radioInner_1dddz_345 {
  background-color: var(--puck-color-azure-9);
  color: var(--puck-color-grey-2);
  font-weight: 500;
}
._Input-radio_1dddz_311 ._Input-radioInput_1dddz_369 {
  display: none;
}
._Input_1dddz_1 textarea._Input-input_1dddz_77 {
  margin-bottom: -4px;
}

/* css-module:E:Projectslow-code-puckpackagescorecomponentsComponentListstyles.module.css\#css-module-data */
._ComponentList_1gval_1 {
  display: grid;
  font-family: var(--puck-font-stack);
  grid-template-columns: 1fr;
  max-width: 100%;
  grid-gap: 12px;
}
._ComponentList-item_1gval_17,
._ComponentList-itemShadow_1gval_19 {
  background: rgb(var(--puck-primary-1));
  padding: 12px;
  display: flex;
  border-radius: 10px;
  font-size: var(--puck-font-size-xxs);
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  cursor: grab;
}
._ComponentList-item_1gval_17:last-of-type,
._ComponentList-itemShadow_1gval_19:last-of-type {
  margin-bottom: 0px;
}
._ComponentList-itemIcon_1gval_55 {
  color: var(--puck-color-grey-4);
}
._ComponentList-item_1gval_17:hover {
  background-color: rgb(var(--puck-secondary));
}

/* css-module:E:Projectslow-code-puckpackagescorecomponentsSidebarSectionstyles.module.css\#css-module-data */
._SidebarSection_10pfw_1 {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  color: black;
  padding: 20px;
}
._SidebarSection_10pfw_1:last-of-type {
  flex-grow: 1;
}
._SidebarSection-title_10pfw_29 {
  overflow-x: auto;
}
._SidebarSection-content_10pfw_43 {
}
._SidebarSection--noPadding_10pfw_53 ._SidebarSection-content_10pfw_43 {
  padding: 0px;
}
._SidebarSection_10pfw_1:last-of-type ._SidebarSection-content_10pfw_43 {
  border-bottom: none;
  flex-grow: 1;
}
._SidebarSection-breadcrumbLabel_10pfw_71 {
  color: rgb(var(--puck-accent));
  font-size: var(--puck-font-size-m);
  flex-shrink: 0;
}
._SidebarSection-breadcrumbLabel_10pfw_71:hover {
  color: rgb(var(--puck-secondary));
  cursor: pointer;
  text-decoration: underline;
}
._SidebarSection-breadcrumbs_10pfw_95 {
  align-items: center;
  display: flex;
  gap: 4px;
}
._SidebarSection-breadcrumb_10pfw_71 {
  align-items: center;
  display: flex;
  gap: 4px;
}
._SidebarSection-heading_10pfw_119 {
  padding-right: 16px;
}

/* css-module:E:Projectslow-code-puckpackagescorecomponentsHeadingstyles.module.css\#css-module-data */
._Heading_1ducz_1 {
  display: block;
  font-family: var(--puck-font-stack);
  font-weight: 700;
  margin: 0;
  color: rgb(var(--puck-accent));
}
._Heading_1ducz_1 b {
  font-weight: 700;
}
._Heading--xxxxl_1ducz_25 {
  font-size: var(--puck-font-size-xxxxl);
  letter-spacing: 0.08ch;
  font-weight: 800;
}
._Heading--xxxl_1ducz_37 {
  font-size: var(--puck-font-size-xxxl);
}
._Heading--xxl_1ducz_45 {
  font-size: var(--puck-font-size-xxl);
}
._Heading--xl_1ducz_53 {
  font-size: var(--puck-font-size-xl);
}
._Heading--l_1ducz_61 {
  font-size: var(--puck-font-size-l);
}
._Heading--m_1ducz_69 {
  font-size: var(--puck-font-size-m);
}
._Heading--s_1ducz_77 {
  font-size: var(--puck-font-size-s);
}
._Heading--xs_1ducz_85 {
  font-size: var(--puck-font-size-xs);
}

/* css-module:E:Projectslow-code-puckpackagescorecomponentsLayerTreestyles.module.css\#css-module-data */
._LayerTree_1157r_1 {
  color: var(--puck-color-grey-2);
  font-family: var(--puck-font-stack);
  font-size: var(--puck-font-size-xxs);
  margin: 0;
  position: relative;
  list-style: none;
  padding: 0;
}
._LayerTree-zoneTitle_1157r_21 {
  color: var(--puck-color-grey-4);
  font-size: var(--puck-font-size-xxxs);
  text-transform: uppercase;
}
._LayerTree-helper_1157r_33 {
  text-align: center;
  color: var(--puck-color-grey-6);
  font-family: var(--puck-font-stack);
  margin: 8px 4px;
}
._Layer_1157r_1 {
  position: relative;
}
._Layer-inner_1157r_57 {
  padding-left: 20px;
  padding-right: 8px;
  border-radius: 10px;
}
._Layer--containsZone_1157r_69 > ._Layer-inner_1157r_57 {
  padding-left: 8px;
}
._Layer-clickable_1157r_77 {
  align-items: center;
  display: flex;
}
._Layer-inner_1157r_57:hover {
  cursor: pointer;
}
._Layer_1157r_1:not(._Layer--isSelected_1157r_95) > ._Layer-inner_1157r_57:hover,
._Layer--isHovering_1157r_97 > ._Layer-inner_1157r_57 {
  color: rgb(var(--puck-accent));
  background: rgb(var(--puck-primary-1));
}
._Layer--isSelected_1157r_95 {
  background: rgb(var(--puck-primary-2));
  border-radius: 10px;
}
._Layer--isSelected_1157r_95 > ._Layer-inner_1157r_57 {
  background: rgb(var(--puck-primary-1));
  font-weight: 600;
}
._Layer--isSelected_1157r_95 > ._Layer-inner_1157r_57 > ._Layer-clickable_1157r_77 > ._Layer-chevron_1157r_129,
._Layer--childIsSelected_1157r_131 > ._Layer-inner_1157r_57 > ._Layer-clickable_1157r_77 > ._Layer-chevron_1157r_129 {
  transform: scaleY(-1);
}
._Layer-zones_1157r_139 {
  display: none;
  margin-left: 20px;
}
._Layer--isSelected_1157r_95 > ._Layer-zones_1157r_139,
._Layer--childIsSelected_1157r_131 > ._Layer-zones_1157r_139 {
  display: block;
}
._Layer-zones_1157r_139 > ._LayerTree_1157r_1 {
  margin-left: 16px;
}
._Layer-title_1157r_167,
._LayerTree-zoneTitle_1157r_21 {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 8px 4px;
}
._Layer-icon_1157r_183 {
  color: var(--puck-color-rose-6);
  margin-top: 4px;
}
._Layer-zoneIcon_1157r_193 {
  color: var(--puck-color-grey-7);
  margin-top: 4px;
}
