.Table {
}

.Table-renderer {
   display: flex;
   flex-direction: column;
   width: 100%;
   overflow-x: auto;
}

.Table-table {
   width: 100%;
   table-layout: fixed;
   border: 1px solid rgb(36, 37, 38);
   border-spacing: 0;
}

/* thead */
.Table-thead {
   border-bottom: 1px solid var(--puck-color-azure-6);
   color: var(--puck-color-azure-3);
   font-size: 0.875rem;
   font-weight: 500;
   line-height: 1.25rem;
   text-transform: uppercase;
}

.Table-tr {
   border-bottom: 1px solid var(--puck-color-azure-6);
   min-width: 200px;
}

.Table-th {
   border: 1px solid var(--puck-color-azure-6);
   padding: 0.75rem 1rem;
   text-align: center;
   min-width: 200px;
   white-space: nowrap;
}

/* tbody */
.Table-tbody {
   font-size: 0.875rem;
   font-weight: 400;
}

/* tr */
.Table-tr {
   border-bottom: 1px solid var(--puck-color-azure-6);
}

/* td */
.Table-td {
   padding: 0.75rem 1rem;
   text-align: center;
   min-width: 200px;
   white-space: nowrap;
}
