/* css canvas and aside bar */

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

/* css special node */

.text-updater-node {
  height: 50px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
  cursor: grab;

}

.text-updater-node label {
  display: block;
  color: #777;
  font-size: 12px;
}

/*  css */

.triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
}

/* css trigger node */
.trigger-node {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid black;
}

.activityNode {
  background-color: #ffd000;
  background-position: center;
  height: 50px;
  width: 100px;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 10px;
}

.gatewayNode {
  background-color: #ffd000;
  background-position: center;
  width: 50px;
  height: 50px;
  border: 1px solid;
  transform: rotate(45deg);
  background-repeat: no-repeat;
}

/* css default node */

.react-flow .react-flow__handle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.test-color {
  color: #784be8;
  color: #ffffff;
}


.configNodePanel {
  background-color: white;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 4;
  font-size: 12px;
}

.configNodePanel label {
  display: block;
}

.configNodePanel_bg {
  margin-top: 10px;
}

.configNodePanel_check {
  margin-top: 10px;
  display: flex;
  align-items: center;
}