.navbar-container {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  background-image: linear-gradient(to bottom, #e2e2e2, #c9d6ff);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  align-items: center;
}

.link {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  /* padding: 1rem; */

}

.link:hover {
  color: rgb(59 130 246 / 1);
}