.editor-container {
   width: 100%;
   height: 100%;

   display: flex;
   flex-direction: row;
}

.editor-container .sidebar {
   width: 300px;
   height: 100%;

   display: flex;
   flex-direction: column;

   /*background-color: lightskyblue;*/
}

.editor-container .canva {
   flex: 1;
   height: 100%;
}

.editor-container .canva .canva-toolbar {
   width: 100%;
   height: 50px;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;

   /*background-color: lightcoral*/
}

.editor-container .canva .table-container {
   width: 100%;
   height: calc(100% - 50px);

   display: flex;
   flex-direction: row;

   /*background-color: antiquewhite;*/
}

.editor-container .row-config-menu,
.editor-container .column-config-menu {
   position: fixed;
   right: 0;
   top: 0;
   width: 0;
   height: 100vh;
   overflow: hidden;
   transition: width 0.5s ease;
}

.editor-container .row-config-menu.open,
.editor-container .column-config-menu.open {
   width: 700px;
   background-color: lightgray;
}

.resizer {
   position: absolute;
   right: 0;
   top: 0;
   height: 100%;
   width: 5px;
   background: rgba(193, 20, 20, 0.5);
   cursor: col-resize;
   user-select: none;
   touch-action: none;
}

.resizer.isResizing {
   background: blue;
   opacity: 1;
}

@media (hover: hover) {
   .resizer {
      opacity: 0;
   }

   *:hover > .resizer {
      opacity: 1;
   }
}

table,
.table {
   border: 1px solid lightgray;
}

.tr {
   display: flex;
}

tr,
.tr {
   width: fit-content;
   height: 30px;
}

th,
.th,
td,
.td {
   box-shadow: inset 0 0 0 1px lightgray;
   padding: 0.25rem;
}

th,
.th {
   padding: 2px 4px;
   position: relative;
   font-weight: bold;
   text-align: center;
   height: 30px;
}

td,
.td {
   height: 30px;
}
