.main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content {
    flex: 1;
    width: 100%;

    display: flex;
}

.childContainer {
    flex: 1;
    background-color: rgb(var(--app));

    border-top-left-radius: var(--corner-radius);
    overflow: hidden;
}

.bpmn-custom-palette-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
