.icon {
    display: flex;
    justify-content: center;
    align-items: center;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
}