.sideBar {
    width: 250px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navLink {
    padding: 20px;
    font-size: 1rem;

    display: flex;
    align-items: center;
    gap: 20px;

    border-radius: 100px;
}

.navLink.selected,
.navLink:hover {
    background-color: rgb(var(--secondary));
}
